<html>
<body>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <h1>Hi</h1>
  <p>Welcome to Page one of the demo.</p>
  
  <!-- What exactly is this page, and I'm assuming the pages that follow pageOne, for? Multiple pages of help? FAQs? pictures? 
  
  We also need to have the floating nav bar in the demo. -->
  
</body>
</html>
